<p id="notice"><%= notice %></p>

<p>
  <strong>Planta:</strong>
  <%= @trabajo.planta %>
</p>

<p>
  <strong>Ito:</strong>
  <%= @trabajo.ito %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @trabajo.descripcion %>
</p>

<p>
  <strong>Total:</strong>
  <%= @trabajo.total %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @trabajo.fecha_termino %>
</p>

<p>
  <strong>Avance:</strong>
  <%= @trabajo.avance %>
</p>

<p>
  <strong>Op:</strong>
  <%= @trabajo.op %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @trabajo.factura %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @trabajo.observaciones %>
</p>

<p>
  <strong>I1:</strong>
  <%= @trabajo.i1 %>
</p>

<p>
  <strong>I2:</strong>
  <%= @trabajo.i2 %>
</p>

<p>
  <strong>I3:</strong>
  <%= @trabajo.i3 %>
</p>

<p>
  <strong>I4:</strong>
  <%= @trabajo.i4 %>
</p>

<p>
  <strong>I5:</strong>
  <%= @trabajo.i5 %>
</p>

<p>
  <strong>I6:</strong>
  <%= @trabajo.i6 %>
</p>

<p>
  <strong>I7:</strong>
  <%= @trabajo.i7 %>
</p>

<p>
  <strong>I8:</strong>
  <%= @trabajo.i8 %>
</p>

<p>
  <strong>I9:</strong>
  <%= @trabajo.i9 %>
</p>

<p>
  <strong>I10:</strong>
  <%= @trabajo.i10 %>
</p>

<p>
  <strong>I11:</strong>
  <%= @trabajo.i11 %>
</p>

<p>
  <strong>I12:</strong>
  <%= @trabajo.i12 %>
</p>

<p>
  <strong>V1:</strong>
  <%= @trabajo.v1 %>
</p>

<p>
  <strong>V2:</strong>
  <%= @trabajo.v2 %>
</p>

<p>
  <strong>V3:</strong>
  <%= @trabajo.v3 %>
</p>

<p>
  <strong>V4:</strong>
  <%= @trabajo.v4 %>
</p>

<p>
  <strong>V5:</strong>
  <%= @trabajo.v5 %>
</p>

<p>
  <strong>V6:</strong>
  <%= @trabajo.v6 %>
</p>

<p>
  <strong>V7:</strong>
  <%= @trabajo.v7 %>
</p>

<p>
  <strong>V8:</strong>
  <%= @trabajo.v8 %>
</p>

<p>
  <strong>V9:</strong>
  <%= @trabajo.v9 %>
</p>

<p>
  <strong>V10:</strong>
  <%= @trabajo.v10 %>
</p>

<p>
  <strong>V11:</strong>
  <%= @trabajo.v11 %>
</p>

<p>
  <strong>V12:</strong>
  <%= @trabajo.v12 %>
</p>

<p>
  <strong>Centro costo:</strong>
  <%= @trabajo.centro_costo %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @trabajo.supervisor %>
</p>

<%= link_to 'Edit', edit_trabajo_path(@trabajo) %> |
<%= link_to 'Back', trabajos_path %>
